<layout name="Public/layout" />
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    
                    <if condition="$isEdit eq 1">
                        <if condition="$type eq 1">
                            修改热销活动信息    
                        <else />
                            修改招商信息
                        </if>
                    
                        <else />
                        <if condition="$type eq 1">
                            新增热销活动信息    
                        <else />
                            新增招商信息
                        </if>
                    </if>
                    <a href="/Admin/Activity/edit?type={$type}" class="btn btn-success pull-right">新增</a>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <present name="res">
            <if condition="$res eq 0">
                <div class="alert alert-success alter-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    更新成功！
                </div>

                <elseif condition="$res gt 0"/>
                <div class="alert alert-danger alter-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    更新失败！
                    <if condition="$res eq 1">
                        标题内容不允许为空
                    <elseif condition="$res eq 2" />
                        标题过长！
                    </if>
                </div>
            </if>
        </present>
        <div class="row">
            <div class="col-lg-12">
            <form class="form-horizontal" role="form" enctype="multipart/form-data" action="/Admin/Activity/edit" method="post">
                <input type="hidden" name="type" value="{$type}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        详细信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <input type="hidden" id="id" name="id" value="{$activity_info['id']|default=''}">
                            <div class="form-group">
                                <label for="customer_name" class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input class="form-control not_null" id="title" name="title" placeholder="标题（不能为空）" type="text" value="{$activity_info['title']|default=''}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control not_null" id="content" name="content" placeholder="内容"  rows="10">{$activity_info['content']|default=''}</textarea> 
                                </div>
                            </div>
                            <div class="form-group" style="text-align: center">

                                <button type="submit" class="btn btn-success" onclick="return check(this.form)">
                                    &nbsp;&nbsp;保存&nbsp;&nbsp;

                                </button>
                            </div>    
                        </form>
                    </div>

                </div>
                <!-- /.panel -->
            </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script src="__PUBLIC__/js/Admin/activity.edit.js"></script>

<script type="text/javascript">
    $(function(){

    });

</script>