@charset "UTF-8";

img.product_photo, img#modal_photo {
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;

    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: auto;
}

img.product_photo:after, img#modal_photo:after {
    content: "\f1c5" " " attr(alt);
    font-size: 16px;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

a.product_title {
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 16px;
}

.product_panel {
    min-width:230px; 
    max-width:300px; 
    padding:0px 5px 0px 5px;
}

@media only screen and (max-device-width:667px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .product_panel {
        padding-left:1px;
        padding-right:1px;
        min-width: 160px;
        /*max-width:200px;*/
        width:45%;
    }
    .btn-number, .product_number, .input-number, .btn-number-dropdown-toggle {
        height: 34px;
        width: 25px;
        padding: 2px;
    }
    .glyphicon-shopping-cart {
        width: 32px;
        padding: 5px 5px;
    }
}


a.unit {
    cursor: pointer;
}

span.order_total {
    color: #d9534f;
    font-size: 20px;
}

span.order_product_total {
    color: #d9534f;
}

span.details-control {
    cursor: pointer;
    /*content: "显示商品详情";*/
    text-decoration: underline;
    font-weight: 700;
}

span.hidden {
    display: none;
}

#brand-container .popover {  
  max-width: 480px;
  /*overflow:auto;*/
  /*max-height: 300px;*/
}
#brand-container>.popover>.popover-content {    
  overflow:auto;
  max-height: 300px;
}

.brand-group a:hover {
  /*color: #fff;*/
  border-color: #B61D1D;
}

.brand-group>.list-group {
    float:left;
}

.brand-group>.list-group>.list-group-item {
    float:left;
    width: 20%;
    text-align: center;
    margin-bottom: 0px;
    padding:0px;
}

.brand-group>.list-group>.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.brand-group>.list-group>.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}*/

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
  color: #fff;
  background-color: #563d7c;
}

@media (min-width: 768px) {
  .bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
  }
  .bs-glyphicons li {
    width: 12.5%;
    font-size: 12px;
  }
}
    
